<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    {# custom imports #}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/velocity.min.js') }}"></script>

    <script src="{{ asset('js/user_site/ajax_loading.js') }}"></script>
    <script src="{{ asset('js/user_site/widget/imageWidget.js') }}"></script>
    <script src="{{ asset('js/user_site/ready.js') }}"></script>
    <script src="{{ asset('js/user_site/prism.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/user_site/shared_animations_style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/user_site/prism.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/user_site/' ~ templateCss) }}" />

    <script type="text/javascript">
        $('[data-fancybox="gallery"]').fancybox({
            buttons: [
                "close"
            ],
        });
    </script>
</head>