<nav class="cd-side-navigation navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pagesMenu" aria-controls="pagesMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav collapse navbar-collapse" id="pagesMenu">
        {% for page in pages %}
            {% if page.slug == 'home' %}
                {# temporary fix for jms_i18n_routing not working with subdomain#}
                <li class="nav-item"><a href="{{ path('user_site_view_page', {slug: 'home'}) }}" data-section-id="home" data-menu="{{ path('user_site_view_page', {slug: 'home'}) }}" class="ajaxLink">{{ page.name }}</a></li>
            {% else %}
                <li class="nav-item"><a href="{{ path('user_site_view_page', {slug: page.slug}) }}" class="ajaxLink" data-menu="{{ path('user_site_view_page', {slug: page.slug}) }}" data-section-id="{{ page.slug }}">{{ page.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<a href="{{ path('user_site_view_page', {slug : 'home'}) }}" class="logo centeredText logoBottom d-md-none">{{ site.name|capitalize }}</a>