{% extends 'UserSite/StandardSite/' ~ layout ~ '.html.twig' %}

{% block body %}

    {% if isBlogTemplate == true %}
        <div class="row blogHeader">
            <div class="col-md-2"></div>
    {% endif %}

            <div class="{% if isBlogTemplate == true %}blogTemplate col-md-8{% endif %}">
                <h1>{% if page.translatedTitle[app.request.locale] is defined %}{{ page.translatedTitle[app.request.locale] }}{% endif %}</h1>
                <div>
                    {% if page.translatedContent[app.request.locale] is defined %}{{ page.translatedContent[app.request.locale]|raw }}{% endif %}
                </div>
            </div>

    {% if isBlogTemplate == true %}
            <div class="col-md-2"></div>
        </div>
    {% endif %}

    {% if files|length > 0 %}
        <div id="imagesWrap" class="pageImages">
            {% for file in files %}
                <a class="imgWrap" id="upload_{{ file.id }}" data-fancybox="gallery" href="https://sitemax.imgix.net/{{ file.baseName }}"><img src="https://sitemax.imgix.net/{{ file.baseName }}?h=50&w=50&fit=crop" alt=""/></a>
            {% endfor %}
        </div>
    {% endif %}

    <script type="text/javascript">
        $('[data-fancybox="gallery"]').fancybox({
            buttons: [
                "close"
            ],
        });
    </script>
    {%  if slug is defined and slug == 'contact-us' %}
        {{ include('UserSite/contact_page.html.twig') }}
    {% endif %}
{% endblock %}
