{% extends 'Admin/layout.html.twig' %}
{% block body %}
{#    <h1>{% trans %}user_site_blog_header{% endtrans %}</h1>#}

    <div class="container-fluid contextBar breadcrumbs">
        <h1>
            <a href="{{ path('admin') }}">{% trans %}admin_links_sites{% endtrans %} ></a>
            <a href="{{ path('user_admin_site_build', {id : site.id}) }}">{{ site.name }} ></a>
            {% trans %}admin_links_blog{% endtrans %}
        </h1>
    </div>
    <div class="container">

    <div class="topActionsBar">
        <a href="{{ path('user_admin_site_edit', {id : site.id}) }}" type="button" class="btn btn-primary btn-sm"><i class="fas fa-cog"></i> {% trans %}admin_links_site_settings{% endtrans %}</a>
        <a href="{{ path('user_admin_post_list', {site : site.id}) }}" type="button" class="btn btn-success btn-sm" style="margin-right: 10px;"><i class="fas fa-blog"></i> {% trans %}admin_links_blog{% endtrans %}</a>
    </div>

    <div class="clear"></div>

    <div class="list boxList row">
        <div class="heading">
            <h2>{% trans %}admin_links_posts{% endtrans %} <a href="{{ path('user_admin_post_create', {site:site.id}) }}">+</a></h2>
        </div>

        <div class="itemWrap addNewTile col-md-3">
            <a class="item" href="{{ path('user_admin_post_create', {site:site.id}) }}">+</a>
        </div>

        {% for post in posts %}
            <div class="itemWrap col-md-3">
                <a class="item" href="{{ path('user_admin_post_edit', {site:post.site.id, id: post.id}) }}">

                    {% if post.defaultImage is not null %}
                        <div class="itemDefaultImage">
                            <img src="https://sitemax.imgix.net/{{ post.defaultImage.baseName }}?h=100&w=100&fit=crop" alt="" />
                        </div>
                    {% endif %}

                    {% if post.translatedTitle[app.request.locale] is defined %}{{ post.translatedTitle[app.request.locale] }}{% endif %}
                </a>
            </div>
        {% endfor %}


    </div>
</div>
{% endblock %}
