<!DOCTYPE html>
<html>

    {% include('UserSite/Components/head.html.twig') %}

    <body>
        <style type="text/css">
            {{ site.customCss }}
        </style>

        {{ site.customHtml|raw }}

        <div class="container-fluid">
            <div class="row">
                <div class="navigation col-md-12">
                    <a href="{{ path('user_site_view_page', {slug : 'home'}) }}" data-menu="{{ path('user_site_view_page', {slug: "home"}) }}" data-section-id="home" class="logo ajaxLink logoTop d-none d-md-block">{{ site.name|capitalize }}</a>
                    {% include('UserSite/Components/social_icons.html.twig') %}
                    {% include('UserSite/Components/navigation_menu.html.twig') %}
                </div>
            </div>
        </div>

        <main class="cd-main">
            <section class="cd-section visibleSection {% if slug is defined %}{{ slug  }}{% endif %}">
                <div class="cd-content contentContainer" id="{% if slug is defined %}{{ slug  }}{% else %}'home'{% endif %}-content">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </main>

        {% include('UserSite/Components/loading_bar.html.twig') %}

        <script type="text/javascript">
            $.fancybox.defaults.hash = false;
        </script>
        <footer class="footer" {% if page is defined and page is not null and page.files|length > 0 %}{% set mainImage = page.files|first %}style="background: url('https://sitemax.imgix.net/{{ mainImage.baseName }}'); background-position: center center;"{% endif %}>
        </footer>
    </body>
</html>
