{% extends 'Admin/layout.html.twig' %}
{% block body %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <div class="container cartWrap">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if subscriptions|length > 0 %}
                    <h1>{% trans %}landing_site_cart_header{% endtrans %}</h1>
                    {% for subscription, product in subscriptions %}
                        <div class="row productWrap">
                            <div class="product col-md-4">
                                {% set product = productsBySubscriptionId[subscription] %}
                                {% set subscriptionType = 'admin_subscriptions_type_' ~ product.systemCode %}{{ subscriptionType|trans }}
                            </div>
                            <div class="col-md-4">{% trans %}landing_site_cart_product_yearly_subscription{% endtrans %}</div>
                            <div class="col-md-4">
                                {{ product.price }} {{ product.currency.systemCode }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% trans %}landing_site_billing_no_products{% endtrans %}
                {% endif %}

                {% if subscriptions|length > 0 %}
                    <div class="checkoutButtonWrap">
                        <h2>{% trans %}landing_site_cart_total{% endtrans %}</h2>

                        <div class="row">
                            <div class="col-md-6">{% trans %}landing_site_cart_taxes{% endtrans %}</div>
                            <div class="col-md-6">{{ taxAmount }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{% trans %}landing_site_cart_total_amount{% endtrans %}</div>
                            <div class="col-md-6">{{ totalAmountWithTaxes }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    <button id="checkout">Subscribe</button>


    <script type="text/javascript">
        var stripe = Stripe("pk_test_51I1XREEhLqLirlZw1LLixKu4KnyJtd8IhhJo55rIy8BJHpZh0sihxPdZSTHYRI93Ygck5pAJwqOcKTNwIxPTAm2Y00QrRRBjmi");
        var createCheckoutSession = function (priceId) {
            return fetch("{{ path('admin_billing_cart_checkout') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    priceId: priceId
                })
            }).then(function (result) {
                return result.json();
            });
        };

        document.getElementById("checkout").addEventListener("click", function (evt) {
            createCheckoutSession('price_1IIGJPEhLqLirlZwTw1kvykg').then(function (data) {
                stripe.redirectToCheckout({
                    sessionId: data.sessionId
                }).then(handleResult);
            });
        });

    </script>
{% endblock %}