{% extends 'Admin/layout.html.twig' %}
{% block body %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <div class="container cartWrap">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if subscriptions|length > 0 %}
                    <h1>{% trans %}landing_site_cart_header{% endtrans %}</h1>
                    {% for subscription, product in subscriptions %}
                        <div class="row productWrap">
                            <div class="product col-md-4">
                                {% set product = productsBySubscriptionId[subscription] %}
                                {% set subscriptionType = 'admin_subscriptions_type_' ~ product.systemCode %}{{ subscriptionType|trans }}
                            </div>
                            <div class="col-md-4">{% trans %}landing_site_cart_product_yearly_subscription{% endtrans %}</div>
                            <div class="col-md-4">
                                {{ product.price }} {{ product.currency.systemCode }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% trans %}landing_site_billing_no_products{% endtrans %}
                {% endif %}

                {% if subscriptions|length > 0 %}
                    <div class="checkoutButtonWrap">
                        <h2>{% trans %}landing_site_cart_total{% endtrans %}</h2>

                        <div class="row">
                            <div class="col-md-6">{% trans %}landing_site_cart_taxes{% endtrans %}</div>
                            <div class="col-md-6">{{ taxAmount }} {{ cartCurrency }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{% trans %}landing_site_cart_total_amount{% endtrans %}</div>
                            <div class="col-md-6">{{ totalAmountWithTaxes }} {{ cartCurrency }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <a class="actionButton" id="checkoutBttn">{% trans %}Checkout{% endtrans %}</a>

    <script type="text/javascript">
        var stripe = Stripe("{{ stripe_public_key }}");


        $("#checkoutBttn").click(function () {
            $.ajax({
                type: "POST",
                url: '{{ path('admin_billing_cart_checkout') }}',
                data: {'priceId': '{{ stripe_default_uk_price_yearly }}'},
                success: function (result) {

                    stripe.redirectToCheckout({
                        sessionId: result.sessionId
                    }).then(handleResult);
                },
            });
        });
    </script>
{% endblock %}