<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/user_site/style.css') }}" />
</head>
<body>

<div class="container-fluid {% if slug is defined %}page-{{ slug  }}{% endif %}">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="navigation col-md-2">
            {# temporary fix for jms_i18n_routing not working with subdomain #}
            <a href="{{ path('user_site_render_page', {slug : 'home'}) }}" class="logo">{{ site.name|capitalize }}</a>

            <div class="allPages">
                {% for page in pages %}
                    {% if page.slug == 'home' %}
                        {# temporary fix for jms_i18n_routing not working with subdomain #}
                        <a href="{{ path('user_site_render_page', {slug : 'home'}) }}">{{ page.name }}</a>
                    {% else %}
                        <a href="{{ path('user_site_render_page', {slug : page.slug}) }}">{{ page.name }}</a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

        <div class="col-md-7 content">
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-1">
            <div class="languageSwitcher">
                {% for language in site.supportedLanguages %}
                    {% set languageCode = 'user_site_supported_languages_' ~ language %}
                    {% if post is defined %}
                        <a href="/{{ language }}/blog/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
                    {% else %}
                        <a href="/{{ language }}/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
                    {% endif %}
                    {% if not loop.last %}/{% endif  %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1 backgroundRight"></div>
    </div>
</div>


{% block javascripts %}{% endblock %}
</body>
</html>
