<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{# temporary fix for jms_i18n_routing not working with subdomain #}
<a href="{{ path('user_site_render_page', {slug : 'home'}) }}" class="logo">{{ site.name|capitalize }}</a>

{% for language in site.supportedLanguages %}
    {% set languageCode = 'user_site_supported_languages_' ~ language %}

    {% if post is defined %}
        <a href="/{{ language }}/blog/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
    {% else %}
        <a href="/{{ language }}/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
    {% endif %}

{% endfor %}

<div class="allPages">
    {% for page in pages %}
        {% if page.slug == 'home' %}
            {# temporary fix for jms_i18n_routing not working with subdomain #}
            <a href="{{ path('user_site_render_page', {slug : 'home'}) }}">{{ page.name }}</a>
        {% else %}
            <a href="{{ path('user_site_render_page', {slug : page.slug}) }}">{{ page.name }}</a>
        {% endif %}

    {% endfor %}
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
