<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/ajax_loading.js') }}"></script>
    <script src="{{ asset('js/velocity.min.js') }}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/user_site/style.css') }}" />
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <div class="navigation col-md-2 offset-md-1">
            <a href="{{ path('user_site_view_page', {slug : 'home'}) }}" data-menu="{{ path('user_site_view_page', {slug: "home"}) }}" data-section-id="home" class="logo ajaxLink logoTop d-none d-md-block">{{ site.name|capitalize }}</a>

            <div class="clear"></div>

            <nav class="cd-side-navigation navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pagesMenu" aria-controls="pagesMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav collapse navbar-collapse" id="pagesMenu">
                    {% for page in pages %}
                        {% if page.slug == 'home' %}
                            {# temporary fix for jms_i18n_routing not working with subdomain#}
                            <li class="nav-item"><a href="home" data-section-id="home" data-menu="home" class="ajaxLink">{{ page.name }}</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ path('user_site_view_page', {slug: page.slug}) }}" class="ajaxLink" data-menu="{{ path('user_site_view_page', {slug: page.slug}) }}" data-section-id="{{ page.slug }}">{{ page.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <a href="{{ path('user_site_view_page', {slug : 'home'}) }}" class="logo centeredText logoBottom d-md-none">{{ site.name|capitalize }}</a>
        </div>

        <main class="cd-main col-md-7">
            <section class="cd-section visible {% if slug is defined %}{{ slug  }}{% endif %}">
                <div class="cd-content contentContainer" id="{% if slug is defined %}{{ slug  }}{% else %}'home'{% endif %}-content">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </main>

        <div class="col-md-1">
            {% if site.supportedLanguages|length > 1 %}
            <div class="languageSwitcher">
                {% for language in site.supportedLanguages %}
                    {% set languageCode = 'user_site_supported_languages_' ~ language %}
                    {% if post is defined %}
                        <a href="/{{ language }}/blog/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
                    {% else %}
                        <a href="/{{ language }}/{% if slug is defined %}{{ slug }}{% endif %}">{{ languageCode|trans }}</a>
                    {% endif %}
                    {% if not loop.last %}/{% endif  %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-1 backgroundRight sidebar">
            {% include('UserSite/Components/social_icons.html.twig') %}
        </div>


    </div>
</div>
<div id="cd-loading-bar" data-scale="1" class="index"></div>

    <script type="text/javascript">
        $.fancybox.defaults.hash = false;
        {% if slug is defined %}
        $(document).ready(function() {
            uSite.centerContentVertically('.{{ slug }}');
            uSite.centerElementVertically('.socialIcons');
        });

        $(window).on('resize', function(){
            uSite.centerContentVertically('.{{ slug }} .contentContainer');
            uSite.centerElementVertically('.socialIcons');
            $('.socialIcons').css('left', '#backgroundRight')
        });
        {% endif %}
    </script>

</body>
</html>
