{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ page.name }}</h1>
    <p>
    {{ page.content }}
    </p>

    <div id="imagesWrap">
        {% for file in files %}
            <div class="imgWrap" id="upload_{{ file.id }}"><img src="{{ file.fileUrl }}" alt="" /></div>
        {% endfor %}
    </div>


    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}