{% extends 'UserSite/layout.html.twig' %}
{% block body %}
    <h1>{% if page.translatedTitle[app.request.locale] is defined %}{{ page.translatedTitle[app.request.locale] }}{% endif %}</h1>
    <div>
        {% if page.translatedContent[app.request.locale] is defined %}{{ page.translatedContent[app.request.locale]|raw }}{% endif %}
    </div>

    {% if files|length > 0 %}
        <div id="imagesWrap">
            {% for file in files %}
                <a class="imgWrap" id="upload_{{ file.id }}" data-fancybox="gallery" href="https://sitemax.imgix.net/{{ file.baseName }}"><img src="https://sitemax.imgix.net/{{ file.baseName }}?h=50&w=50&fit=crop&border=1,fff&border-radius=50" alt=""/></a>
            {% endfor %}
        </div>
    {% endif %}


    <script type="text/javascript">
        $(document).ready(function() {

        });

        $('[data-fancybox="gallery"]').fancybox({
            buttons: [
                "close"
            ],
        });
    </script>

    {%  if slug is defined and slug == 'contact-us' %}
        {{ include('UserSite/contact_page.html.twig') }}
    {% endif %}
{% endblock %}
