<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/admin/style.css') }}" rel="stylesheet" />
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/slug-generator.js') }}"></script>
    <script src="{{ asset('js/admin/a.js') }}"></script>
    <script src="{{ asset('js/admin/ready.js') }}"></script>
</head>
<body>
    <ul class="topMenu">
       <li><a href="{{ path('admin') }}">{% trans %}admin_links_dashboard{% endtrans %}</a></li>
       <li><a href="{{ path('admin_profile_edit') }}">{% trans %}admin_links_profile{% endtrans %}</a></li>
       <li><a href="{{ path('app_logout') }}">{% trans %}admin_links_logout{% endtrans %}</a></li>
       <div class="clear"></div>
    </ul>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
