<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/test.css') }}" rel="stylesheet" />
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/slug-generator.js') }}"></script>
    <script src="{{ asset('js/admin/a.js') }}"></script>
    <script src="{{ asset('js/admin/ready.js') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
