{#    <p>#}
{#        <a href="{{ path('user_admin_site_create') }}">create</a>#}
{#    </p>#}

<div class="container">
    <div class="list boxList row">
        <div class="heading">
            <h2>{% trans %}admin_links_sites{% endtrans %} <a href="{{ path('user_admin_site_create') }}">+</a></h2>
        </div>
        {% for site in sites %}
            <div class="itemWrap col-md-3"><a class="item" href="{{ path('user_admin_site_build', {id : site.id}) }}">{{ site.name }}</a></div>
    {#            <a href="{{ path('user_admin_site_edit', {id : site.id}) }}">edit</a>#}

    {#            {% if site.isTemplate != true %}#}
    {#                |#}
    {#                <a onclick="return confirm('Are you sure?');" href="{{ path('user_admin_site_delete', {id : site.id}) }}">delete</a>#}
    {#            {% endif %}#}
        {% endfor %}

        <a class="item col-md-3" href="{{ path('user_admin_site_create') }}">{% trans %}admin_links_create{% endtrans %}</a>
    </div>
</div>
