{% if files is defined %}
<div id="imagesWrap">
    {% for file in files %}
        {% if file.deleted != true %}
            <div class="imgWrap" id="object_{{ file.id }}">
                <a data-fancybox="gallery" href="https://sitemax.imgix.net/{{ file.baseName }}"><img src="https://sitemax.imgix.net/{{ file.baseName }}?h=150&w=150&fit=crop&border-radius=10" alt="" /></a>
                <a class="deleteFile" onclick="a.deleteObject('{{ path('admin_site_upload_delete', {id : file.id}) }}', 'object_{{ file.id }}')">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
