<!DOCTYPE html>
<html>
    {% include('UserSite/Components/head.html.twig') %}
    <body>
        <style type="text/css">
            {{ site.customCss }}
            {% if page is defined %}{{ page.customCss|raw }}{% endif %}
        </style>

        {{ site.customHtml|raw }}


        <nav class="navbar navbar-expand-md navbar-light container" aria-label="Navigation">
                <a href="{{ path('user_site_view_page', {slug : 'home'}) }}" data-menu="{{ path('user_site_view_page', {slug: "home"}) }}" data-section-id="home" class="ajaxLink navbar-brand">{{ site.name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsWrap" aria-controls="navbarsWrap" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarsWrap" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% for page in pages %}
                            {% if page.slug == 'home' %}
                                {# temporary fix for jms_i18n_routing not working with subdomain#}
                                <li class="nav-item"><a href="{{ path('user_site_view_page', {slug: 'home'}) }}" data-section-id="home" data-menu="{{ path('user_site_view_page', {slug: 'home'}) }}" class="ajaxLink nav-link">{% if page.translatedMenuLink[app.request.locale] is defined %}{{ page.translatedMenuLink[app.request.locale] }}{% endif %}</a></li>
                            {% else %}
                                <li class="nav-item"><a href="{{ path('user_site_view_page', {slug: page.slug}) }}" class="ajaxLink nav-link" data-menu="{{ path('user_site_view_page', {slug: page.slug}) }}" data-section-id="{{ page.slug }}">{% if page.translatedMenuLink[app.request.locale] is defined %}{{ page.translatedMenuLink[app.request.locale] }}{% endif %}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% include('UserSite/Components/social_icons.html.twig') %}
            </div>
        </nav>
        <div class="clear"></div>

        <main class="cd-main">
            <section class="cd-section visibleSection {% if slug is defined %}{{ slug  }}{% endif %}">
                <div class="cd-content contentContainer" id="{% if slug is defined %}{{ slug  }}{% else %}'home'{% endif %}-content">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </main>

        {% include('UserSite/Components/loading_bar.html.twig') %}

        <script type="text/javascript">
            $.fancybox.defaults.hash = false;
        </script>

        <footer class="footer container">
            <div class="row">
                <div class="col-md-12">
                    {% include('UserSite/Components/social_icons.html.twig') %}
                    <div class="siteName">
                         &copy; {{ site.name }}
                    </div>

                    <div class="builtWithBerform">
                        {% trans %}footer_built_with{% endtrans %} <a href="https://www.berform.com" target="_blank">Berform</a>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
