{% extends 'Admin/layout.html.twig' %}
{% block body %}
    <div class="container-fluid contextBar"><h1>{{ site.name }}</h1></div>
    <div class="container">

        <div class="clear"></div>

        <div class="list boxList row">
            {% if nodes is not empty %}
                {% for node in nodes %}
                    <div class="itemWrap col-md-3">
                        <a class="item" href="{{ path('user_admin_node_edit', {type: node.type, id:node.id}) }}">
                            {% if post.translatedTitle[app.request.locale] is defined %}{{ post.translatedTitle[app.request.locale] }}{% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <a href="{{ path('user_admin_node_create', {'type' : type, 'site' : site.id}) }}">{{ ('admin_create_node_' ~ type) | trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
