{% extends 'Admin/layout.html.twig' %}
{% block body %}


    <div class="container-fluid contextBar breadcrumbs">
        <h1>
            <a href="{{ path('admin') }}">{% trans %}admin_links_sites{% endtrans %} ></a>
            <a href="{{ path('user_admin_site_build', {id : site.id}) }}">{{ site.name }} ></a>
            <a href="{{ path('user_admin_node_list', { type: 'shot', site: site.id }) }}">{% trans %}admin_links_shots{% endtrans %}</a>

            {% if node.translatedTitle[app.request.locale] is defined %}
                >
                {{ node.translatedTitle[app.request.locale] }}
            {% endif %}
        </h1>
    </div>


    <div class="container">
        <div class="contentEditForm row">
            <div class="col-sm-1 col-md-2"></div>

            <div class="col-sm-10 col-md-8" id="mainContentTab">

                {% include('Admin/Upload/upload_form.html.twig') %}
                {% include('Admin/Upload/file_list.html.twig') %}


                {{ form_start(form) }}
                <div class="errors">
                    {{ form_errors(form) }}
                </div>

                <div class="clear"></div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    {% set countLanguage = 0 %}
                    {% for language in supportedLanguages %}
                        <li class="nav-item">
                            {% set languageLabel = 'admin_language_label_' ~ language  %}
                            <a class="nav-link {% if countLanguage == 0 %}active{% endif %}" id="{{ language }}-tab" data-toggle="tab" href="#{{ language }}ContentWrap" role="tab">{{ languageLabel|trans }}</a>
                        </li>
                        {% set countLanguage = countLanguage + 1 %}
                    {% endfor %}
                </ul>

                {% set countLanguage = 0 %}
                <div class="tab-content">
                    {% for language in supportedLanguages %}
                        <div class="tab-pane fade show {% if countLanguage == 0 %}active{% endif %}" id="{{ language }}ContentWrap" role="tabpanel">

                            <div>
                                {% set string = 'content_' ~ language %}
                                {{ form_row(form[string]) }}
                            </div>
                        </div>
                        {% set countLanguage = countLanguage + 1 %}
                    {% endfor %}
                </div>

                <div class="pretty p-switch p-fill checkbox">
                    {{ form_widget(form.active) }}
                    <div class="state p-success">
                        {{ form_label(form.active) }}
                    </div>
                </div>


                <div style="display: none">{{ form_row(form.save) }}</div>

                <a onclick="$('#mainContentTab').find('form').submit()" class="btn btn-primary btn-sm formButton">{% trans %}admin_button_save{% endtrans %}</a>
                {{ form_end(form) }}

            </div>

            <div class="col-sm-1 col-md-2"></div>

        </div>
    </div>
{% endblock %}
