{% extends 'UserSite/layout.html.twig' %}
{% block body %}
    <h1>{% trans %}user_site_blog_header{% endtrans %}</h1>
        {% for post in posts %}
            <h2>
                <a class="ajaxLink" data-section-id="{{ post.slug }}" data-menu="{{ path('user_site_blog_view_post', {slug: post.slug}) }}" href="{{ path('user_site_blog_view_post', {slug: post.slug}) }}">
                    {% if post.translatedTitle[app.request.locale] is defined %}{{ post.translatedTitle[app.request.locale] }}{% endif %}
                </a>
            </h2>

        <p>
            {% if post.translatedExcerpt[app.request.locale] is defined %}{{ post.translatedExcerpt[app.request.locale]|raw }}{% endif %}
            <a class="ajaxLink" data-section-id="{{ post.slug }}" data-menu="{{ path('user_site_blog_view_post', {slug: post.slug}) }}" href="{{ path('user_site_blog_view_post', {slug: post.slug}) }}">{% trans %}user_site_blog_read_more{% endtrans %}</a>
        </p>

        <div class="clear"></div>
        {% endfor %}
{% endblock %}
