{% extends 'UserSite/layout.html.twig' %}
{% block body %}
    <h1>{% if post.translatedTitle[app.request.locale] is defined %}{{ post.translatedTitle[app.request.locale] }}{% endif %}</h1>

    {% if files|length > 0 %}
        <div id="imagesWrap">
            {% for file in files %}
                <a class="imgWrap" id="upload_{{ file.id }}" data-fancybox="gallery" href="https://sitemax.imgix.net/{{ file.baseName }}"><img src="https://sitemax.imgix.net/{{ file.baseName }}?h=50&w=50&fit=crop&border=1,fff&border-radius=50" alt=""/></a>
            {% endfor %}
        </div>
    {% endif %}
<div class="clear"></div>
    <p>
        {% if post.translatedContent[app.request.locale] is defined %}{{ post.translatedContent[app.request.locale]|raw }}{% endif %}
    </p>
{% endblock %}
