{% extends 'UserSite/' ~ layout ~ '.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>{% if page.translatedTitle[app.request.locale] is defined %}{{ page.translatedTitle[app.request.locale] }}{% endif %}</h1>
                <div>
                    {% if page.translatedContent[app.request.locale] is defined %}{{ page.translatedContent[app.request.locale]|raw }}{% endif %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for album in albums %}

                    <div class="albumWrap">
                        {% set defaultFile = album.files|first  %}

                        {% if defaultFile is not empty %}
                        <a href="{{ path('user_site_view_album', {slug: album.slug}) }}" class="ajaxLink" data-menu="{{ path('user_site_view_album', {slug: album.slug}) }}">
                            <img src="{{ resource_provider_domain }}{{ defaultFile.baseName }}?h=250&w=1000&fit=crop" alt="" style="width: 100%" />
                        </a>
                        {% endif %}

                        <a href="{{ path('user_site_view_album', {slug: album.slug}) }}" data-menu="{{ path('user_site_view_album', {slug: album.slug}) }}" class="ajaxLink">
                            <h3>{% if album.translatedTitle[app.request.locale] is defined %}{{ album.translatedTitle[app.request.locale] }}{% endif %}</h3>
                            <p>
                                {% if album.translatedContent[app.request.locale] is defined %}{{ album.translatedContent[app.request.locale] }}{% endif %}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
