{% extends 'Admin/layout.html.twig' %}
{% block body %}

    <div class="breadcrumbs container-fluid contextBar">
        <h1>
            <a href="{{ path('admin') }}">{% trans %}admin_links_sites{% endtrans %} ></a>
            <a href="{{ path('user_admin_site_build', {id : site.id}) }}">{{ site.name }} ></a> {% trans %}admin_links_pages{% endtrans %}
        </h1>
    </div>

    <div class="container">
        <div class="contentEditForm row">
            <div class="col-sm-1 col-md-2"></div>

            <div class="col-sm-10 col-md-8">


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mainContentTab-tab" data-toggle="tab" href="#mainContentTab" role="tab">{% trans %}admin_content{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mediaTab-tab" data-toggle="tab" href="#mediaTab" role="tab">{% trans %}admin_images{% endtrans %}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mainContentTab" role="tabpanel">
                        {{ form_start(form) }}
                            <div class="errors">
                                {{ form_errors(form) }}
                            </div>

                            {{ form_row(form.name) }}

                            {{ form_row(form.slug) }}

                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            {% set countLanguage = 0 %}
                            {% for language in supportedLanguages %}
                                <li class="nav-item">
                                    {% set languageLabel = 'admin_language_label_' ~ language  %}
                                    <a class="nav-link {% if countLanguage == 0 %}active{% endif %}" id="{{ language }}-tab" data-toggle="tab" href="#{{ language }}ContentWrap" role="tab">{{ languageLabel|trans }}</a>
                                </li>
                                {% set countLanguage = countLanguage + 1 %}
                            {% endfor %}
                        </ul>

                        {% set countLanguage = 0 %}
                        <div class="tab-content">
                            {% for language in supportedLanguages %}
                                    <div class="tab-pane fade show {% if countLanguage == 0 %}active{% endif %}" id="{{ language }}ContentWrap" role="tabpanel">
                                        {% set string = 'title_' ~ language %}
                                        {{ form_row(form[string]) }}

                                        {% set string = 'menu_link_' ~ language %}
                                        {{ form_row(form[string]) }}

                                        <div class="htmlEditor">
                                            {% set string = 'content_' ~ language %}
                                            {{ form_row(form[string]) }}
                                        </div>

                                        {% set string = 'keywords_' ~ language %}
                                        {{ form_row(form[string]) }}

                                        {% set string = 'meta_description_' ~ language %}
                                        {{ form_row(form[string]) }}
                                    </div>
                                {% set countLanguage = countLanguage + 1 %}
                            {% endfor %}
                        </div>

                        <div class="pretty p-switch p-fill checkbox">
                            {{ form_widget(form.active) }}
                            <div class="state p-success">
                                {{ form_label(form.active) }}
                            </div>
                        </div>


                            <div style="display: none">{{ form_row(form.save) }}</div>

                            <a onclick="$('#mainContentTab').find('form').submit()" class="btn btn-primary btn-sm formButton">{% trans %}admin_button_save{% endtrans %}</a>
                        {{ form_end(form) }}
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="mediaTab">
                        {% include('Admin/Upload/upload_form.html.twig') %}
                        {% include('Admin/Upload/file_list.html.twig') %}
                    </div>

                </div>
            </div>

            <div class="col-sm-1 col-md-2"></div>

        </div>
    </div>
{% endblock %}
